@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sora:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    /* background-color: #121212;
    color: 	rgb(255,0,0); */
}

body {
   font-family: "josefin sans", sans-serif;
   font-weight: 400;
   background-color: #121212;
   
}

/* Heading and logo */

h1, h2{
    font-family: sora, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255,0,0);
}

#logo {
    float: left;
    margin-left: 40px;
    font-size: 250%;
}

/* nav links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    color: rgb(255,0,0);
}

#menu, #logo {
    line-height: 75px;
}

#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color:rgb(255,0,0) ;
}

#menu a:hover {
    border-bottom: 1px solid rgb(255,0,0);
}

.active {
    border-bottom: 1px solid rgb(255,0,0);
}

/*hero image and cover text */

#hero-image {
    width: 100%;
    height: 800px;
    background: url(../images/heroLfc\ Wallpaper\ Anfield\ Stadium\ Liverpool\ Fc\ PelautsCom.jpg) no-repeat center center;
}
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
    }

#cover-text h2{
    width: 580px;
    height: 30px;
    color: white;
    background-color: rgba(255, 0, 0, .6);
    border: 10px;

    
    
    
}

#join{
    border-radius: 2px;
    padding: 10px;
    
    text-align: center;
    background-color: white;
    color: black;
    border: 1px solid black;
    
}

#bimage {
    background: url(../images/Liverpool-FC-a-4K-HD-Desktop-Wallpaper-for-4K-Ultra-HD-TV-.jpg) no-repeat center center;
    width: 100%;
    height: 1080px;

}

/* footer */

footer{
    height: 1px;
   
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 3% 5%;
    color: rgb(255,0,0);
}
