@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Sora:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "josefin sans", sans-serif;
    font-weight: 400;
    background-color: #121212;
    color: white
}

/* Heading and logo */
h1,
h2,
h3 {
    font-family: sora, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #990012;
}

.logo {
    float: left;
    margin-left: 40px;
    font-size: 250%;
}

.head {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
}

/* nav links */
.menu {
    font-size: 110%;
    letter-spacing: 4px;
    color: #990012;
}

.menu,
.logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: #990012;
}

.menu a:hover {
    border-bottom: 1px solid #990012;
}

.active {
    border-bottom: 1px solid #990012);
}

/*hero image and cover text */
.hero-image {
    width: 100%;
    height: 800px;
    background: url(../images/herolfc.jpg) no-repeat center center;
    background-position: 0px 75px;
}

.hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-text {
    width: 571px;
    height: 62px;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding-left: 30px;
    padding-top: 22px;
    bottom: 100px;
    left: 455px;
    position: sticky;
}

.cover-text h2 {
    color: #990012;
}

.join {
    border-radius: 15px;
    color: black;
    background-color: #990012;
    border: 2px solid white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.join:hover {
    background-color: white;
}

/* Background image*/
.bimage {
    background: url(../images/lfc.jpg) no-repeat center center;
    width: 100%;
    height: 1080px;
    /* background-attachment: fixed;   decision for later*/
}

.bhimage {
    background: url(../images/lfc.jpg) no-repeat center center;
    width: 100%;
    height: 1840px;
    background-attachment: fixed;
}

/* pictures and text content*/
.sm {
    height: 500px;
    width: 500px;
    padding: 30px 30px;
}

.ms {
    height: 500px;
    width: 500px;
    float: right;
    padding: 30px 30px;
}

.info {
    height: 400px;
}

.htext {
    text-align: center;
    padding: 140px 0;
}

.ltext {
    width: 33%;
    float: left;
    display: inline-block;
    text-align: center;
}

.ctext {
    width: 33%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.rtext {
    width: 33%;
    float: right;
    display: inline-block;
    text-align: center;
}

/* history pages pictures and text */
.top {
    height: 500px;
}

.center {
    height: 660px;
}

.bottom {
    height: 560px;
}

.anfield {
    height: 300px;
    width: 300px;
    float: left;
    padding-bottom: 30px;

}

.thropies {
    height: 300px;
    width: 300px;
    float: right;
    padding-bottom: 30px;
}

.fans {
    height: 300px;
    width: 300px;
    float: left;
    padding-bottom: 30px;
}

.song {
    height: 300px;
    width: 300px;
    float: right;
    padding-bottom: 30px;
}

.ltop {
    width: 300px;
    display: inline-block;
    padding-left: 200px;
    padding-top: 30px;
    font-size: 130%;
}

.rtop {
    width: 300px;
    display: inline-block;
    float: right;
    padding-right: 200px;
    padding-top: 30px;
    font-size: 130%;
}

/* Youtube Video */
.video {
    width: 675px;
    height: 380px;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

.videot {
    text-align: center;
    position: relative;
    top: 70px;
}

/* Form and contact */
.form {
    width: 400px;
    height: 535px;
    position: absolute;
    left: 100px;
    top: 880px;
    color: #990012;
    font-size: 30px;
}

.input {
    background: transparent;
    color: white;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #990012;
    border-radius: 3px;
}

.input:hover {
    border-color: white;
}

.button {
    background-color: #990012;
    color: black;
    font-size: 30px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 10px;
}

.button:hover {
    background-color: white;
}

.contact {
    height: 100px;
    width: 400px;
    float: right;
    padding-top: 100px;
    padding-right: 100px;
}

.maps {
    height: 300px;
    width: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* trial */
.trial {
    height: 400px;
    font-size: 150%;
    text-align: center;
    padding-top: 100px;
}

/* footer */
footer {
    height: 130px;
    width: 100%;
    bottom: 0px;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3% 5%;
    color: #990012;
}

.social-networks:hover i:hover {
    color: white;
}

/* media queries */
/* for media-queries from 1200px wide and down */
@media screen and (max-width: 1200px){
    .sm {
        width: 100%;
        padding: 0;
    }
    
    .ms {
        width: 100%;
        padding: 30px 0;
    }

    .bimage{
        height: 1300px;
    }
}
/* for small screen sizes from 900px wide and down */
@media screen and (max-width: 900px) {
.hero-outer{
    max-width: 100%;
    height: 400px;
}
    
.bimage{
    max-width: 100%;
    height: 1400px;
}


.menu {
    clear: left;
    float: left;
    margin-left: 40px;
    line-height: 1px;
}

.head {
    height: 100px;
    background-color: black;
}

.cover-text{
    font-size: 65%;
    left: 0;
}

.sm {
    width: 100%;
    padding: 0;
}

.ms {
    width: 100%;
    padding: 30px 0;
}

.htext {
    height: 390px;
}
.ltext {
   width: 100%;
}

.ctext {
    width: 100%;
    padding: 10px 0;
}

.rtext {
    width: 100%;
}

}

/* for medium screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {
    .head{
        font-size: 67%;
    }
}

/* for medium screen sizes from 410px wide and down */
@media screen and (max-width: 410px) {
    .head{
        font-size: 55%;
    }
}